/StringEnum/bin/Debug/net5.0
/OzonSellerApi/obj/Debug/net5.0
/OzonSellerApi/bin/Debug/net5.0
/StringEnum/obj/Debug/net5.0
/Tests/bin/Debug/net5.0
/Tests/obj/Debug/net5.0
/packages/NLog.4.7.11
/packages/Newtonsoft.Json.13.0.1
/Tests/obj
/.vs/OzonSellerApi/v16
/StringEnum/obj
/OzonSellerApi/obj
/.vs/OzonSellerApi/v17
/.vs/OzonSellerApi
